[defaults]
inventory = inventory.yml
host_key_checking = False
remote_user = ec2-user
interpreter_python = auto_silent

[ssh_connection]
# Use SCP instead of SFTP if SFTP is unreliable
scp_if_ssh = True
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=no
pipelining = True
